:root{
  --text-color: #2196F3;
}
body{
 font-family: Roboto;
}
a.nav-title{
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: black;
}
.nav-title-web{
  color: var(  --text-color);
}
.link-decoration{
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: #212121;
}
.remove-markers{
  list-style-type: none;
}
.hero-background{
  position: absolute;
width: 1600px;
height: 600px;
left: 0px;
top: 80px;

background: #2F303A
}
.address-font{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
.description-text{
font-family: Roboto;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}
.color-light{
  color:var(  --text-color);
}
.change-color:hover{
  color:white ;
  background-color:var(--text-color) ;
}
.button-text{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
}
.description-head{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2;
color: #212121;
letter-spacing: 0.06em;
}
.hero-button{
  color: white;
 position: absolute;
width: 200px;
height: 50px;
left: 700px;
top: 430px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.header{
  position: absolute;
width: 1600px;
height: 80px;
left: 0px;
top: 0px;
background: #FFFFFF;
}
.header-position{
  position: absolute;
width: 1600px;
height: 80px;
left: 0px;
top: 0px;

background: #FFFFFF;
}
.title-position{
  position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 24px;
}
.studio-position{
  position: absolute;
width: 49px;
height: 16px;
left: 453px;
top: 32px;
}
.portfolio-position{
  position: absolute;
width: 77px;
height: 16px;
left: 552px;
top: 32px;
}
.contacts-position{
  position: absolute;
width: 68px;
height: 16px;
left: 679px;
top: 32px;
}
.mail-position{
  position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;
}
.phone-position{
  position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px;
}
.hero-title{
  position: absolute;
width: 1600px;
height: 600px;
left: 0px;
top: 80px;
background: #2F303A;
}
.hero-title-position{
padding-top: 200px;
padding-bottom: 280px;
padding-right: 452px;
padding-left: 452px;
}
.button-position{
padding-top: 350px;
padding-bottom: 200px;
padding-right: 700px;
padding-left: 700px;
}
.title{
  font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;

}