*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
div.item h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* Остальной код */
:root {
  --text-color: #2196f3;
  --nav-grey: #757575;
}
body {
  font-family: Roboto, sans-serif;
  background: #ffffff;
  margin: 0px;
}
.nav-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: black;
}
.nav-title-web {
  color: var(--text-color);
}
.link-decoration {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: #212121;
}
.remove-markers {
  list-style-type: none;
  padding: 0%;
}
.address-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: white;
  min-width: 231px;
}
.description-text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}
.color-light {
  color: var(--text-color);
}
/* <!--portfolio--> */
.change-color:hover {
  color: white;
  background-color: var(--text-color);
}
.button-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 6px 22px;
  border-width: 0px;
}
.description-head {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  letter-spacing: 0.06em;
}
.hero-button {
  color: white;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  margin-top: 30px;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
}
.header-position {
  display: flex;
  height: 80px;
}
.hero {
  height: 600px;
  box-sizing: border-box;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
}
.hero-title {
  background: #2f303a;
}
.hero-title-position {
  margin: 0 auto;
  padding-top: 200px;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.menu {
  padding: 110px;
}
.description {
  margin-top: 94px;
  width: 1170px;
  height: 101px;
  margin-bottom: 94px;
}
.inline {
  display: flex;
  align-items: center;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.nav-list-header {
  position: relative;
  margin-left: 93px;
}
.nav-list-links:not(:nth-child(3)) {
  margin-right: 50px;
}
.studio {
  margin-left: 93px;
}
.email {
  margin-left: 331px;
}
.phone {
  margin-left: 50px;
  min-width: 122px;
}
.cell {
  flex-wrap: wrap;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0px;
}
.team-member {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4 - 30px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: white;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.photos {
  flex-wrap: wrap;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.photos-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}
.h-center {
  text-align: center;
}
.advantages-position {
  margin-top: 94px;
  margin-bottom: 94px;
}

.header-work {
  padding-bottom: 50px;
}
.works {
  margin-bottom: 94px;
}
.h2-title {
  padding-top: 94px;
  padding-bottom: 50px;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.h-hidden {
  text-indent: 100%;
  display: none;
}
.team {
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.footer-block {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 231px;
  height: 252px;
}
.footer-logo {
  margin-top: 60px;
  margin-left: 15px;
}
.footer-address {
  margin-top: 20px;
  margin-left: 15px;
}
.footer-list {
  list-style-type: none;
  margin-top: 9px;
  margin-left: 15px;
  padding-left: 0px;
}
.footer-phone {
  margin-top: 9px;
}
.footer {
  background: #2f303a;
}
.footer-address-color {
  color: rgba(255, 255, 255, 0.6);
}
.nav-title-studio-footer {
  color: white;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0px;
}
.work-list-works {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
li.work-list-works:hover{
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.main-position {
  margin-bottom: 94px;
  margin-top: 94px;
}
.people-names {
  margin-top: 30px;
  text-align: center;
}
.people-position {
  text-align: center;
  margin-top: 10px;
}
.project-name {
  margin-left: 24px;
  margin-top: 20px;
}
.description-text-portfolio {
  margin-left: 24px;
  margin-top: 4px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 20px;
}
.button-style {
  margin-left: 30px;
}
.link-block {
  display: block;
}
.div-line {
  position: relative;
}
.link-line::before {
  position: absolute;
  top: 43px;
  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--text-color);
  overflow: hidden;
}
li.nav-list-links a:hover,
li.nav-list-links a:focus {
  color: var(--text-color);
}
.list-nav {
  padding: 0px;
  justify-content: center;
}
.social-list-icon {
  width: 20px;
  height: 20px;
}
.social-list {
  display: flex;
  margin-top: 16px;
  margin-bottom: 30px;
  justify-content: center;
}
.list-link-position {
  min-width: 206px;
  height: 44px;
}
.social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--text-color);
}
.social-list-icon {
  fill: #afb1b8;
}
.social-list-link-margin:not(:last-child) {
  margin-right: 10px;
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: white;
}
.clients-list {
  display: flex;
  padding: 0%;
  justify-content: space-evenly;
  padding-bottom: 94px;
}
.clients-list-links {
  display: flex;
  min-width: 170px;
  min-height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

.clients-links-items {
  max-width: 88px;
  max-height: 52px;
}
.icons-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.icons-list-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 6 - 30px);
}
.container-clients {
  padding-top: 94px;
}
.title-clients {
  margin-bottom: 50px;
  font-weight: 700;
}
.clients-links-items {
  fill: #afb1b8;
}
.clients-list-links:hover {
  border-color: var(--text-color);
}

.clients-list-links:hover .clients-links-items,
.clients-list-links:focus .clients-links-items{
  fill: var(--text-color);
}
.footer-social-block {
  margin-top: 72px;
  margin-left: 70px;
  font-weight: 700;
  color: white;
}
.footer-social-block .social-list-icon {
  fill: white;
}
.footer-social-block .social-list-link {
  background: rgba(255, 255, 255, 0.1);
}
.footer-social-block:hover .social-list-link:hover {
  background-color: var(--text-color);
}
.social-list-footer {
  margin-left: -10px;
}
.links-footer {
  margin-top: 10px;
  margin-left: 10px;
  flex-basis: calc(100% / 4 - 10px);
}
.header-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--nav-grey);
}
a.nav-grey:hover .header-icon,
a.nav-grey:focus .header-icon {
  fill: var(--text-color);
}
input:hover,
input:focus {
  border: 1px solid var(--text-color);
}
input:hover ~ svg {
  fill: var(--text-color);
}
.modal-btn-close:hover {
  color: var(--text-color);
}
.list-inline {
  display: flex;
  min-width: 150px;
}
.address-nav-link {
  margin-right: 30px;
}
li.list-inline > svg:hover,
li.list-inline > svg:focus {
  fill: var(--text-color);
}
li.list-inline a:hover,
li.list-inline a:focus {
  color: var(--text-color);
}
.advantages-icons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-top: -30px;
  margin-left: -30px;
}
.advantages-icons-list {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
}
.advantages-icons-svg {
  max-width: 70px;
  max-height: 70px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);

  transition: all 500ms linear;
}
.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #fff;
}
.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.nav-grey {
  color: var(--nav-grey);
}
.address-nav {
  margin-left: 305px;
}
.team-list-img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: var(--text-color);
  color: #ffffff;
  transform: translateY(101%);
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  letter-spacing: 0.03em;

  color: #FFFFFF;

  transition: transform 250ms linear;
}
.overlay-works {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  padding: 20px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  transform: translateY(0%);
  transition: transform 250ms linear;
}
.link-work:hover .overlay,
.link-work:focus .overlay {
  transform: translateY(0%);
}
.link-work:focus .overlay-works {
  transform: translateY(0%);
}
.link {
  text-decoration: none;
}
.main-container {
  display: flex;
  margin: 0px;
}
.container-icon {
  display: flex;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
textarea {
  resize: none;
  width: 448px;
  height: 120px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  font-weight: 400;
}
.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}
.contact-form-field {
  font-size: 12px;
}
.contact-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}
.contact-form-input:focus {
  outline: none;
}
.title-madal-form {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: bold;
  color: #212121;
  margin-bottom: 12px;
}
.contact-form-field + .contact-form-field {
  margin-top: 10px;
}
.contact-form-message {
  display: block;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}
.modal-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: white;
  align-self: center;
  border: 0px;
  margin-top: 30px;
}
.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
}
.label-link {
  display: block;
  position: relative;
  text-align: center;
  margin-top: 20px;
}
.hidden {
  visibility: hidden;
}
.form-block {
  width: 570px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin-top: 72px;
  margin-left: 93px;
}
.subsribe-btn {
  display: flex;
  width: 200px;
  height: 50px;
  background: var(--text-color);
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: white;
  margin-top: 20px;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}
.emai-form {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-right: 12px;
  margin-top: 20px;
  background: transparent;
  color: white;
}
.form-footer {
  display: flex;
}
.subsribe-icon {
  width: 24px;
  height: 24px;
  fill: white;
  margin-left: 10px;
}
.check-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal-checkbox-btn {
  -webkit-appearance: none;
  appearance: none;
}
.check-icon {
  vertical-align: top;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 4px;
  border-radius: 2px;
  background-image: url(../images/box.svg);
  background-repeat: no-repeat;
}
.modal-checkbox-btn:checked + .check-icon {
  background-image: url(../images/icon-check.svg);
}
.modal-checkbox-btn:focus + .check-icon {
  background-image: url(../images/icon-check.svg);
}
.contact-form-message:focus {
  outline: none;
  border-color: var(--text-color);
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
