
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Остальной код */
:root{
  --text-color: #2196F3;
}
body{
 font-family: Roboto;
 background: #E5E5E5;
}
a.nav-title{
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: black;
}
.nav-title-web{
  color: var(  --text-color);
}
.link-decoration{
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: #212121;
}
.remove-markers{
  list-style-type: none;
}
.hero-background{
  position: absolute;
width: 100%;
height: 600px;
left: 0px;
top: 80px;

background: #2F303A
}
.address-font{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: white;
}
.description-text{
font-family: Roboto;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}
.color-light{
  color:var(  --text-color);
}
.change-color:hover{
  color:white ;
  background-color:var(--text-color) ;
}
.button-text{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
}
.description-head{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2;
color: #212121;
letter-spacing: 0.06em;
}
.hero-button{
  color: white;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
display: flex;
margin-left: 580px;
}
.header{
background: #FFFFFF;
}
.header-position{
width: 100%;
height: 80px;
left: 0px;
top: 0px;
display: flex;

background: #FFFFFF;
}
.title-position{
padding-top: 24px;
padding-bottom: 25px;
padding-left: 15px;
display: flex;
}
/* .studio-position{
  position: absolute;
width: 49px;
height: 16px;
left: 453px;
top: 32px;
} */
/* .portfolio-position{
  position: absolute;
width: 77px;
height: 16px;
left: 552px;
top: 32px;
} */
/* .contacts-position{
  position: absolute;
width: 68px;
height: 16px;
left: 679px;
top: 32px;
} */
/* .mail-position{
  position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;
}
.phone-position{
  position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px;
} */
.size{
  height: 800;
  box-sizing: border-box;
}
.hero-title{
background: #2F303A;
}
.hero-title-position{
margin: 0 auto;
padding-top: 200px;
padding-bottom: 280px;

}

.title{
  font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.menu{
  padding: 110px;
}
.description{
  margin-top: 94px;
  width: 1170px;
  height: 101px;
  margin-bottom: 94px;
}
.inline{
  display: flex;
  justify-content: space-between;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* .gallery-list-item{
  width: calc((100% - 120) / 4);
} */
.studio{
  margin-left: 93px;
margin-top: 15px;
}
.portfolio{
  margin-left: 50px;
  margin-top: 15px;
}
.contacts{
  margin-left: 50px;
  margin-top: 15px;
}
.email{
  margin-left: 331px;
  margin-top: 15px;
}
.phone{
  margin-left: 50px;
  margin-top: 15px;
}
.cell{
  flex-wrap: wrap;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.item{
margin-left: 30px;
  margin-top: 30px;
  margin-left: -30px;
  margin-top: -30px;
   flex-basis: calc(100% / 4 - 30px);
}

 
.team-list{
  
  display: flex;
  flex-wrap: wrap;
   margin-left: -30px;
  margin-top: -30px;
/*   material shadow v1 */
  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px; */

}
/* .team-member-people:not(:first-child){
margin-left: 30px;
} */
.team-member{
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4 - 30px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

 .container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.photos{
   flex-wrap: wrap;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.photos-item{
 margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}
.h-center{
  text-align: center;
}
.advantages-position{
  margin-top: 110px;
  margin-bottom: 110px;
}
.header-work{
  padding-bottom: 50px;
}
.works{
  margin-bottom: 94px;
}
.header-team{
  padding-top: 94px;
  padding-bottom: 50px;
}
.h-hidden{
text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.buttom-text{
  padding: 10px 32px;
}
.team{
  background: #F5F4FA;
  /* margin-bottom: 94px; */
}
.container-team{
  margin-bottom: 94px;
}
.footer-block{
  box-sizing: border-box;
  width: 252px;
  display: flex;
  flex-direction: column;
}
.footer-logo{
  margin-top: 60px;
  margin-left: 15px;
}
.footer-address{
  margin-top: 20px;
  margin-left: 15px;
}
.footer-list{
      padding-inline-start: 0px;
      list-style-type: none;
      margin-left: 15px;
      margin-top: 9px;
}
.footer-phone{
  margin-top: 9px;
}
.footer{
  background: #2F303A;
}
.footer-address-color{
  color: rgba(255, 255, 255, 0.6);
}
.nav-title-studio-footer{
  color: white;
}