.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  font-weight: 400;
}
.contact-form-field {
  font-size: 12px;
}
.contact-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}
.contact-form-input:focus {
  outline: none;
}
.contact-form-field + .contact-form-field {
  margin-top: 10px;
}
.contact-form-message {
  display: block;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}
.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
}
.contact-form-message:focus {
  outline: none;
  border-color: var(--text-color);
}
textarea {
  resize: none;
  width: 448px;
  height: 120px;
}
.title-madal-form {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: bold;
  color: #212121;
  margin-bottom: 12px;
}
.form-block {
  width: 570px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin-top: 72px;
  margin-left: 93px;
}
.emai-form {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-right: 12px;
  margin-top: 20px;
  background: transparent;
  color: white;
}
.form-footer {
  display: flex;
}