.address-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: white;
  min-width: 231px;
}
.footer-block {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 231px;
  height: 252px;
}
.footer-logo {
  margin-top: 60px;
  margin-left: 15px;
}
.footer-address {
  margin-top: 20px;
  margin-left: 15px;
}
.footer-list {
  list-style-type: none;
  margin-top: 9px;
  margin-left: 15px;
  padding-left: 0px;
}
.footer-phone {
  margin-top: 9px;
}
.footer {
  background: #2f303a;
  margin: auto;
  @media screen and (min-width:480px) {
    width: 480px;
  }
  @media screen and (min-width:768px) {
    width: 768px;
  }
  @media screen and (min-width:1200px) {
    width: 1200px;
  }
}
.footer-address-color {
  color: rgba(255, 255, 255, 0.6);
}
.nav-title-studio-footer {
  color: white;
}
.social-list-footer {
  margin-left: -10px;
}
.links-footer {
  margin-top: 10px;
  margin-left: 10px;
  flex-basis: calc(100% / 4 - 10px);
}
.form-footer {
  display: flex;
}
.footer-social-block {
  margin-top: 72px;
  margin-left: 70px;
  font-weight: 700;
  color: white;
}
.footer-social-block .social-list-icon {
  fill: white;
}
.footer-social-block .social-list-link {
  background: rgba(255, 255, 255, 0.1);
}
.footer-social-block:hover .social-list-link:hover {
  background-color: var(--text-color);
}
.main-container{
  display: flex;
  margin: 0px;
  @media screen and (max-width:480px) {
    display: block;
  } 
}