.advantages-icons-svg {
  max-width: 70px;
  max-height: 70px;
}
.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: white;
}
.icons-list-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 6 - 30px);
}
