.social-list {
  display: flex;
  margin-top: 16px;
  margin-bottom: 30px;
  justify-content: center;
  &-icon {
    width: 20px;
    height: 20px;
  &-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  &-link:hover,
  &-link:focus {
  background-color: var(--text-color);
  &-icon {
  fill: #afb1b8;
  &-link-margin:not(:last-child) {
  margin-right: 10px;
  &-link:hover .social-list-icon,
  &-link:focus .social-list-icon {
  fill: white;
}
}
}
}
}
}
}