.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.h2-title {
  padding-top: 94px;
  padding-bottom: 50px;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.h-hidden {
  text-indent: 100%;
  display: none;
}
.h-center {
  text-align: center;
}
.header-work {
  padding-bottom: 50px;
}
.title-clients {
  margin-bottom: 50px;
  font-weight: 700;
}
.nav-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: black;
 &-web {
  color: var(--text-color);
}
}
.nav-title-studio-footer {
  color: white;
}