*{
&,
&::before,
&::after {
  box-sizing: border-box;
}
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.remove-markers {
  list-style-type: none;
  padding: 0%;
}
div.div-line a.color-light {
  color: var(--text-color);
}
input:hover,
input:focus {
  border: 1px solid var(--text-color);
}
input:hover ~ svg {
  fill: var(--text-color);
}

.link {
  text-decoration: none;
}
.inline {
  display: flex;
  align-items: center;
  justify-content: center;
}
:root {
  --text-color: #2196f3;
  --nav-grey: #757575;
}
body {
  font-family: Roboto, sans-serif;
  background: #ffffff;
  margin: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.main{
  @media screen and (min-width:480) {
    width: 480px;
  }
}